@font-face {
  font-family: Okra;
  font-display: swap;
  src: url(https://b.zmtcdn.com/web_assets/081152f7adf53200c7f8789005ca54ca1597997115.woff2)
      format("woff2"),
    url(https://b.zmtcdn.com/web_assets/6651f01000a2e122e587bb2282cb3ea21597921594.ttf)
      format("truetype");
  font-style: normal;
  font-weight: 300;
}

* {
  font-family: Okra;
}
main {
  width: 100%;
  color: #111;
}

header {
  background: white;
}

.header-inner {
  width: 100%;
  max-width: 100%;

  /* height: 7.2rem; */
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  top: 0px;
  background-color: white;
  z-index: 5;
}

#zomato {
  max-width: 9em;
  height: 1.4em;
  display: block;
  cursor: pointer;
}

.header1 {
  width: 100%;
  max-width: 70em;
  margin: 0px auto;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 4;
  gap: 30px;
}

.header-s-1 {
  display: none;
}
div.logo {
  display: flex;
  flex: 2;
}

.box2 {
  width: 100%;

  height: 44px;
  flex-wrap: nowrap;
  align-items: center;
  display: flex;
  justify-content: flex-end;

  margin: 0px;
}

#search-box {
  position: relative;

  display: flex;
  justify-content: center;
  width: 65%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 12px 6px rgb(230, 230, 230, 0.85);
  padding: 0 10px;
  align-items: center;
  margin-right: 40px;
}

.city-location {
  display: flex;
  align-items: center;
  line-height: 2rem;
  flex: 2;
}

.divider {
  width: 0;
  height: 1.5rem;
  border: 0.001em solid gray;
  visibility: visible;
  margin: 0 4px;
}

.food-item {
  display: flex;
  align-items: center;
  flex: 6;
}

.icon-location {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  width: 20px;
  height: 20px;
}

.food-searching {
  width: 100%;
}

.no-outline {
  width: 100%;
  outline: none;
  border: none;
  line-height: 1.5em;
  /* background-color: rgb(221, 252, 252); */
}

input.food::placeholder {
  padding-left: 0.3em;
  color: rgba(200, 200, 200, 0.8);
  font-size: 1.2em;
}

.user {
  display: inline-block;
  box-sizing: content-box;
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: right;
  vertical-align: middle;
  font-weight: 300;
  color: rgb(105, 105, 105);
  cursor: pointer;
  border-radius: 0.6rem;
  padding: 0 0.5rem;
}

.sitemap {
  max-width: 70em;
  margin: 0 auto;
}

.grey-text {
  color: grey;
}

.light-grey {
  color: lightgray;
}

.order-mode-outer {
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 2;
  margin: 0 auto;
  max-width: 70em;
  /* height: 100%; */
}

.section-outer {
  display: flex;
  position: relative;
  box-shadow: inset 0 -1px 0 0 rgba(240, 240, 240, 0.9);
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0;
}

.cont01 {
  display: flex;
  margin: 0 1em 0 0.1em;
  gap: 0.8em;
  align-items: center;
}

.icon-order {
  height: 1.8em;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 3em;
  background-color: rgb(248, 248, 248);
  border-radius: 3em;
}

.restaurent .icon-box {
  background-color: rgb(252, 238, 192);
}

.order-text {
  font-size: 1.2em;
  font-weight: 600;
  color: rgb(105, 105, 105);
}

.filter-outer {
  position: sticky;
  top: 0px;
  z-index: 5;
  width: 100%;
  max-width: 70em;
  margin: 0 auto;
  height: 50px;
  background-color: #fff;
  padding: 20px 0;
}

.filter-section {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  gap: 20px;
}

.filter-option {
  display: flex;
  padding: 5px 10px;
  border: 1px solid silver;

  height: 1.5em;
  border-radius: 8px;
  align-items: center;
  gap: 4px;
  min-width: fit-content;
}
.filter-option select {
  width: fit-content;
}

.f-count {
  padding: 0.2em 0.4em 0.2em;
  color: white;
  background-color: rgb(239, 79, 95);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-h1 {
  max-width: 70em;
  width: 100%;
  margin: 0 auto;
  z-index: 5;
  background-color: white;
}

.header-h1 h1 {
  margin: 0;
}

.foodsection {
  --auto-grid-min-size: 20rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  /* grid-gap: 1rem; */
  margin: 0 auto;
  max-width: 70em;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap:30px;
  
   */
}

.food-cart-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 260px;

  border: 1px solid transparent;
  border-radius: 1em;
  padding: 0.4em;
  box-sizing: border-box;
}

.food-cart-box:hover {
  border: 1px solid silver;
  box-shadow: outset 0 0 3px 6px rgb(218, 218, 218);
  transform: scale(1.2);
  z-index: -1;
}

.img-cont {
  align-self: center;
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  box-sizing: border-box;
}

.img-cont img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  object-fit: cover;
}

.promoted {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(100, 100, 100, 0.7);
  color: rgba(233, 233, 233, 0.9);
  border-radius: 0.25em;
  padding: 0 0.3em;
  font-size: 70%;
}

.offer-percent {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background-color: #1ba1e2cc;
  color: #fff;
  border-radius: 0.25em;
  padding: 0 0.3em;
  font-size: 70%;
}

.delivery-time {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: rgba(233, 233, 233, 0.9);
  color: rgba(100, 100, 100, 0.7);
  border-radius: 0.25em;
  padding: 0 0.3em;
  font-size: 70%;
}

.rname-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rname {
  font-weight: 700;
  font-size: 16px;
}

.det {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating {
  display: flex;

  background-color: #109e03;

  color: #fff;
  border-radius: 5px;
  padding: 0 0.1em;
  gap: 8px;
  font-weight: 300;
}
.rating #star {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1em;
}

.det-price {
  display: flex;
  justify-content: space-between;
}

.hr {
  width: 100%;
  align-self: center;
}

.footnote {
  display: flex;
  gap: 8px;
}
.max-safety,
.img-graph {
  height: 1.3em;
}

.footnote div.grey-text {
  font-size: 10px;
  font-stretch: condensed;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 400px) {
  .header1 {
    display: none;
  }
  .logo {
    display: none;
  }
  .header-s-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
  }
  .user-small {
    width: 30px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sitemap {
    display: none;
  }

  .order-mode-outer {
    width: 100%;
  }

  .section-outer {
    max-width: 100%;
    white-space: nowrap;
    overflow-y: scroll;
    font-size: 14px;
  }
  .filter-outer {
    max-width: 100%;
    white-space: nowrap;
    overflow-y: scroll;
    padding: 5px 0;
    height: 100%;
    font-size: 12px;
  }

  .section-outer::-webkit-scrollbar,
  .filter-outer::-webkit-scrollbar {
    display: none;
  }

  .citylocation {
    display: none;
  }
  .user {
    display: none;
  }

  .foodsection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    align-items: center;
  }

  .header-h1 h1 {
    font-size: large;
    margin: 0 0 10px 0;
  }

  .food-cart-box {
    border: 1px solid silver;
  }

  .food-cart-box:hover {
    transform: none;
  }
}

/* @media screen and (min-width:401px) and (max-width: 768px){

  .header1{
    display:none;
  }
  .logo{
    display:none;
  }
  .header-s-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    padding: 0 1em;
  }
  .user-small{
    width: 30px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .outer-mode-outer{
    width: 100%;
  }

  .section-outer{
    max-width:100%;
    white-space: nowrap;
    overflow-y: scroll;
    font-size: 16px;
    
  }
  .filter-outer{
    max-width:100%;
    white-space: nowrap;
    overflow-y: scroll;
    padding: 15px 0;
    height: 100%;
    font-size: 14px;
  }


  .section-outer::-webkit-scrollbar,
  .filter-outer::-webkit-scrollbar { 
    display: none; 
}

  .citylocation{
    display: none;
  }
.user{
  display: none;
}

/* .foodsection{
  /* display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  max-width: 100%;
  align-items: center; 
} 

.header-h1 h1{
  font-size: large;
  margin: 0 0 10px 0 ;
}

.food-cart-box{
  border: 1px solid silver;
}

.food-cart-box:hover{
  transform: none;

}

} */
